*{
	marin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
}
@font-face{
	font-family: "iconfont";
	src: url("img/font/iconfont.eot");
	src: url("img/font/iconfont.eot") format("embedded-opentype"),
	     url("img/font/iconfont.woff") format("woff"),
	     url("img/font/iconfont.ttf") format("truetype"),
	     url("img/font/iconfont.svg#iconfont") format("svg");
}
.main{
	width: 1200px;
	height: 460px;
	margin: 30px auto;
	position: relative;
}
.banner{
	width: 1200px;
	height: 460px;
	position: relative;
}
.banner-slice{
	width: 1200px;
	height:460px;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	display: none;
}
.slice-active{
	display: block;
}
.slice1{
	background-image: url(img/bg1.jpg);
}
.slice2{
	background-image: url(img/bg2.jpg);
}
.slice3{
	background-image: url(img/bg3.jpg);
}
.button{
	width: 40px;
	height: 80px;
	position: absolute;
	left: 244px;
	top: 50%;
	margin-top: -40px;
	background: url(img/arrow.png) no-repeat center center;
}
.button:hover{
	background-color: #666;
	opacity: 0.8;
}
.next{
	left: auto;
	right: 0;
}
.prev{
	transform: rotate(180deg);
}
.dots{
	position: absolute;
	right: 20px;
	bottom: 24px;
}
.dots span{
	width:12px;
	height:12px;
	border-radius: 50%;
	margin-left: 10px;
	line-height: 12px;
	display: inline-block;
	background: rgba(7,17,27,0.8);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
	cursor: pointer;
}
.dots span.active{
	box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
	background: rgba(255,255,255,0.8);
}
.nav-bg{
	position: absolute;
	width: 244px;
	height: 460px;
	background-color: rgba(7,17,27,0.2);
	top: 0;
	left: 0;
	z-index: 1;
}
a:link,a:visited{
	text-decoration: none;
}
.nav-item{
	position: absolute;
	top: 2px;
	left: 0px;
	width: 244px;
	z-index:2;
	// padding: 0px 25px;
}
.nav-content{
	// margin: 0 25px;
	
	padding: 0 10px;
	position: relative;
}
.nav-content a{
	height: 64px;
	line-height: 80px;
	display: block;
	margin: 0px 15px;
	width: 194px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	padding: 0px 10px;

}
.nav-content span{
	color: rgba(255,255,255,0.8);
}
.nav-content i{
	position: absolute;
	right: 25px;
	top: 0px;
	font-style: normal;
	font-weight: normal;
	font-family: "iconfont";
	color: rgba(255,255,255,0.8);
	font-size: 24px;
}
.manu{
	width: 730px;
	height: 458px;
	position: absolute;
	top: 0px;
	left: 244px;
	background: url("img/fe.png") no-repeat center center;
	z-index: 10;
	border: 1px solid #d9dde1;
	box-shadow: 0 4px 6px rgba(0,0,0,0.2);
	display: none;
}
.title{
	margin: 30px 0px 20px 30px;
	color: #f01414;
	font-size: 16px;
	font-weight: bold;
}
.row{
	margin-left: 30px;
	margin-bottom: 30px;
	font-size:14px;
}
.row-tit{
	font-weight: bold;
}
.mr10{
	margin-right: 10px;
}
.bigbox{
	background-color: #999;
}